# Packages #
node_modules/
/node_modules/
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz
*.map

# Logs and databases 
*.log
*.sql

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.local
.env.development
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/client/build
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
