/*********************
Universal
*********************/
*,
*::before,
*::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
}

/*********************
Root
*********************/
:root {
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

main {
	padding-right: calc((100vw - var(--content-width)) / 2);
	padding-left: calc((100vw - var(--content-width)) / 2);
}

section {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
}
