/*********************
Layout

- Header
- Footer
- Grid
- Article (card)
*********************/

#about {
	margin-bottom: 20vh;
}

section {
	margin-bottom: 25vh;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--header-height);
	padding-left: 2rem;
	padding-right: 2rem;

	// Logo
	> a {
		font-size: 1.4rem;
		line-height: 0.8;
		letter-spacing: 0.6rem;
		font-weight: 700;
		position: relative;
		text-transform: uppercase;
		text-decoration: none;
		color: var(--text);
	}

	// Navigation
	& nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		& a {
			padding: 0.5rem;
			letter-spacing: 0.2rem;
			font-size: 0.9rem;
			text-decoration: none;
			text-transform: uppercase;
			color: var(--text);
			transition: color var(--transition-duration) ease-out;
			position: relative;
			border-bottom: none;
		}

		// underline
		& a::after {
			content: '';
			height: 2px;
			transform: scaleX(0);
			transition: transform var(--transition-duration) ease-out;
			transform-origin: left;
			left: 0;
			bottom: -2px;
			width: 100%;
			display: block;
			position: absolute;
		}

		& a:hover {
			color: var(--color-secondary);
		}

		& a:hover::after {
			background-color: currentColor;
			transform: scaleX(1);
		}
	}
}

// Footer
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--font-mono);
	border-top: 1px solid var(--text);
	margin-top: 25vh;
}

// Grid
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
	gap: 1rem;
}

// Cards
article {
	background-color: var(--color-hinted);
	border-radius: var(--border-radius);
	padding: 1rem;

	& > header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: auto;
		padding: 0;
	}

	& > footer {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1rem;
		color: var(--color-secondary);
		font-family: var(--font-mono);
		margin-top: 1rem;
		padding: 1rem 0;
	}
}
